{% trans_default_domain 'FOSUserBundle' %}
<div class="container" style="margin-top: 100px;">
    <div class="well">
        <div class="fos_user_user_show">
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>
    </div>
</div>
