{% extends '@INSEADTurkey/base.html.twig' %}
{% block body %}

<!-- ********************************************************* -->
<!--                Message erreur 503                         -->
<!-- ********************************************************* -->
<div class="container" style="height: 70%;">
    <div class="row">
        <div class="alert alert-danger text-center">
            <h1>Site en maintenance</h1>
            <img src="{{ asset('bundles/inseadturkey/images/error.jpeg') }}" alt="error404" />
            <div>
                <p>The site Quash is in maintenance, we return quickly!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}