{% extends '@INSEADTurkey/base.html.twig' %}
{% block body %}

<!-- ********************************************************* -->
<!--                Message erreur 403                         -->
<!-- ********************************************************* -->
<div class="container" style="height: 70%;">
    <div class="row">
        <div>
        </div>
        <div class="alert alert-danger text-center">
            <h1>Erreur</h1>
            <img src="{{ asset('bundles/inseadturkey/images/error403.jpg') }}" alt="error403" />
            <div>
                <p>You do not have the right to access this page ...</p>
                <p>
                    <a href="{{ path('homepage') }}" style="text-decoration: none;">
                        Quash
                    </a>
                </p>
            </div>
        </div>

    </div>
</div>


{% endblock %}
