{% extends '@INSEADTurkey/base.html.twig' %}
{% block body %}

<!-- ********************************************************* -->
<!--                Message erreur                             -->
<!-- ********************************************************* -->
<div class="container" style="height: 70%;">
    <div class="row">
        <div class="alert alert-danger text-center">
            <h1>Erreur</h1>
            <img src="{{ asset('bundles/inseadturkey/images/error.jpeg') }}" alt="error404" />
            <div>
                <p>A problem occurred on this page... </p>
                <p>
                    <a href="{{ path('homepage') }}" style="text-decoration: none;">
                        Quash
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
