/**************************/
/*                        */
/*           FONTS        */
/*                        */
/**************************/

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Rasa', serif;
}

/*
Asker
color: #00FBB7 ;

Answer
color: #BB51FF ;
*/
/**************************/
/*       Edit Asker       */
/*          et            */
/*       Edit Answer      */
/*         select         */
/**************************/
select {

    padding: 10px !important;
    margin: 0 0 20px 0 !important;
}

.bootstrap-select .btn-default {
    color: #828A99;
    border-color: #828A99;
    background-color: #464A52;
    border-radius: 3px;
}

.bootstrap-select.open .btn-default,
.bootstrap-select.open .btn-default:hover {
    color: #FFF;
    border-color: #828A99;
    background-color: #464A52;
    border-radius: 3px;

}

.bootstrap-select .dropdown-menu {
    border-color: #828A99;
    background-color: #464A52;
    border-radius: 3px;
}

.bootstrap-select .btn-default:focus {
    outline: none !important;
}

.bootstrap-select .dropdown-menu li a {
    color: #828A99;
    padding: 8px 10px;
}

.bootstrap-select .dropdown-menu li.selected a {
    background: #595E69;
    color: #FFF;
}

.bootstrap-select .dropdown-menu li a:hover {
    color: #FFF;
    background: #50555E;
}

.bootstrap-select .dropdown-menu li a:active {
    color: #FFF;
    background: #50555E;
}

.bootstrap-select .btn-default:active {
    color: #FFF;
    background: #50555E;
}

.bootstrap-select a:focus {
    outline: none !important;
}


/**************************/
/*       Edit Asker       */
/*          et            */
/*       Edit Answer      */
/*         button         */
/**************************/
.buttonCustom{
    height: 60px;
    width: 400px;
    font-size: 30px;
    radios:10px;
    color:#fff;
    background-color:#1874CD;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 15px 15px 15px rgba(0.8, 0.8, 0.8, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0);
    padding:5px;
}
/**************************/
/*       home             */
/*    asker_answer        */
/*         button         */
/**************************/
.btn_custom {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    width: 70%;
    font-size: 35px;
}

.btn_customAsker {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    width: 70%;
    font-size: 35px;
    background-color: white;
    border: 5px solid #00FBB7;
    color: #00FBB7 ;
    font-family: 'Roboto', sans-serif;
}

.btn_customAsker:hover,
.btn_customAsker:focus,
.btn_customAsker:active,
.btn_customAsker.active
{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    width: 70%;
    font-size: 35px;
    background-color: #00FBB7;
    border: 5px solid #00FBB7;
    color: white ;
    font-family: 'Roboto', sans-serif;
}

.btn_customAnswer {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    width: 70%;
    font-size: 35px;
    background-color: white;
    border: 5px solid #BB51FF;
    color: #BB51FF ;
    font-family: 'Roboto', sans-serif;
}

.btn_customAnswer:hover,
.btn_customAnswer:focus,
.btn_customAnswer:active,
.btn_customAnswer.active
{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    width: 70%;
    font-size: 35px;
    background-color: #BB51FF;
    border: 5px solid #BB51FF;
    color: white ;
    font-family: 'Roboto', sans-serif;
}